<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Home | SEEFOOD </title>
        <meta name="desciption" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <header>
            <div class="logo_container">
                <img class="logo" src="../images/seefood_spash_screen_LOGO.png" alt="logo">
            </div>
            <nav>
                    <div id="home" ><a href="#">Home</a></div>
                    <div id="restaurant"><a href="#">Restaurants</a></div>
                    <div id="more"><a href="#">More</a></div>
            </nav>
        </header> 
        <section id="restaurant-list"></section>
        <section> 
                <div class = "container" >
                   <div class = "row">
                       <div class = "col-lg-8 mx-auto">
                           <center> <h1 class = "text-black mb- 4"> SEEFOOD Moblie Website</h1></center>
                       <p class = "text-black-50"> 
                       <p> SEEFOOD is a mobile website that helps you SEE pictures of 
                       food on the menu, instead of just reading about it.
                       No more risky decisions, bad surprises or disappointments when the 
                       food arrives. Know and see your food before you order.
                       Eat with your eyes.
                       </p>
                       </p>
                       </div>
                   </div> 
                </div> 
            
                
            </section>
    </body>
