<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Villa Azteca | SEEFOOD </title>
        <meta name="desciption" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="../static/main.css">
    </head>
    
    <body>
        <header>
            <div class="logo_container">
                <img class="logo" src="../images/seefood_spash_screen_LOGO.png" alt="logo">
            </div>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">More</a></li>
                </ul>
            </nav>
            <a class="seefood" href="#"><button>seefood</button></a>
        </header>
    </body>
</html>