<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Villa Azteca | SEEFOOD </title>
        <meta name="desciption" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <header>
            <div class="logo_container">
                <img class="logo" src="../images/seefood_spash_screen_LOGO.png" alt="logo">
            </div>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">More</a></li>
                </ul>
            </nav>
            <a class="seefood" href="#"><button>seefood</button></a>
        </header>
        <section>
            <div class="store_info" id="villa_azteca">
                <div class="store_logo_container">
                    <img class="store_logo" src="../images/Villa Azteca Logo.JPG" alt="villa azteca logo">
                    <h3 class="store_name">Villa Azteca</h3>
                </div>
            </div>
        </section>
        <h2 class="restaurant-menu">Villa Azteca Menu</h2>
        <section class="grid-section">
            <div class="food-items-grid">
                <div class="grid-item">
                    <img class="food-pic" src="../images/Benedictos a la Mexicana MX- Brunch.JPG" alt="1">
                    <div class="food-text">Benedictos a la Mexicana</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Chilaquiles Negros.jpg" alt="2">
                    <div class="food-text">Chilaquiles Negros</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Chilaquiles.jpg" alt="3">
                    <div class="food-text">Chilaquiles</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Enfrijoladas.jpg" alt="4">
                    <div class="food-text">Enfrijoladas</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Lengua Campesina.JPG" alt="5">
                    <div class="food-text">Lengua Campesina</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Salmon Tacos.jpg" alt="6">
                    <div class="food-text">Salmon Tacos</div>
                </div>
                <div class="grid-item">
                    <img class="food-pic" src="../images/Shrimp Enchiladas.jpg" alt="7">
                    <div class="food-text">Shrimp Enchiladas</div>
                </div>
            </div>
        </section>
    </body>
</html>
